.secondary-text-color {
    color: #A49ACC;
}
.primary-text-color {
    color: #D5CBFF;
}

.html-body {
    background-color: #FFF1F9;
}

.base-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}